@import '../../../assets/scss/variables.scss';

.home {
  margin: 30px 20px;

  &__news {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;

    &-new {
      width: 100%;
      padding: 15px;
      margin-bottom: 30px;
      border: 2px solid lightgray;
      border-radius: 5px;

      .title {
        font-size: 18px;
        margin-bottom: 15px;
        border-bottom: 1px solid gray;
        padding-bottom: 15px;
      }

      @media (min-width: $md-breakpoint) {
        width: 48%;
        margin: 0 1% 30px;
      }
  
      @media (min-width: $xl-breakpoint) {
        width: 31.3%;
      }
    }
  }
}