<div class="home">
  <section class="home__news">
    <div class="home__news-new" *ngFor="let new of news">
      <h2 class="title">{{ new.title }}</h2>
      <p class="body">{{ new.body }}</p>
    </div>
  </section>
</div>