<section class="singup">
  <h1 class="singup__title">Registrarse</h1>

  <div class="singup__form" [formGroup]="singupForm">
    <aside class="singup__form-section">
      <label class="label" for="">Usuario</label>
      <input type="text" placeholder="Usuario" formControlName="username" class="input" required />
    </aside>
    <p *ngIf="singupForm.controls.username.touched && !singupForm.controls.username.valid" class="info_error">
      * El usuario no tiene el formato correcto
      </p>

    <aside class="singup__form-section">
      <label for="" class="label">Contraseña</label>
      <input type="password" placeholder="Contraseña" formControlName="password" class="input" required />
    </aside>
    <p *ngIf="singupForm.controls.password.touched && !singupForm.controls.password.valid" class="info_error">
      * La contraseña tiene que contener #, mayúsculas y un mínimo 7 carácteres
    </p>

    <aside class="singup__form-section">
      <label for="" class="label">Repetir Contraseña</label>
      <input type="password" placeholder="Repetir Contraseña" formControlName="repeatPassword" class="input" required />
    </aside>
    <p
      *ngIf="singupForm.controls.repeatPassword.touched && (!singupForm.controls.repeatPassword.valid || singupForm.value.repeatPassword !== singupForm.value.password)"
      class="info_error">
      * Las contraseñas no coinciden
    </p>

    <button
      [disabled]="!singupForm.valid || singupForm.value.repeatPassword !== singupForm.value.password"
      class="singup__form-button"
      (click)="register()">
      Registrarse
    </button>
  </div>
</section>