@import '../../../assets/scss/variables.scss';

.singup {
  display: flex;
  align-items: center;
  flex-direction: column;

  &__title {
    font-size: 30px;
    font-weight: 100;
    margin-bottom: 20px;
  }

  &__form {
    width: 90%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;

    &-section {
      display: flex;
      justify-content: space-between;
      margin: 15px 0;
    }
    
    &-button {
      color: #ffff;
      background-color: #12445d;
      border: 1px solid #12445d;
      border-radius: 5px;
      margin-top: 15px;
      margin-left: auto;
      padding: 5px 20px;
      cursor: pointer;

      &:disabled {
        color: black;
        background-color: lightgray;
        border-color: lightgray;
        cursor: initial;
      }
    }
    
    .info_error {
      font-size: 12px;
      color: red;
    }

    @media (min-width: $sm-breakpoint) {
      width: 60%;
    }

    @media (min-width: $md-breakpoint) {
      width: 50%;
    }

    @media (min-width: $lg-breakpoint) {
      width: 40%;
    }

    @media (min-width: $xl-breakpoint) {
      width: 30%;
    }
  }
}