@import '../../../assets/scss/variables.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px;
  margin-bottom: 20px;
  border-bottom: 1px solid $c-primary;

  &__icon {
    width: 75px;
  }

  &__username {
    font-size: 20px;
    font-weight: 500;
  }

  @media (min-width: $md-breakpoint) {
    padding: 20px 35px;
  }
}